.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
}

.badge-populaire {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: grey;
    color: white;
    padding: 5px 10px;
    font-weight: bold;
    border-radius: 5px;
}

@media (max-width: 992px) {
    .navbar-nav {
        text-align: center;
        width: 100%;
    }
    .nav-item {
        margin-bottom: 10px;
    }
}

.card-img-top {
    max-width: 100%;
    height: auto;
}